div#map {
    height: 500px;
    width: 500px;
    border: thin blue solid;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    float: left;
    position: relative;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
}

div.element {
    padding: 3px;
    display: inline-block;
    cursor: default;
}

div#map div.element {
    position: absolute;
}

div.building,
div.floor,
div.site {
    text-align: center;
    background-color: rgba(141, 203, 253, 0.8);
}

div.room {
    background-color: rgba(141, 203, 253, 0.8);
}

div.site span,
div.site div {
    display: block;
    margin: 0 auto;
}

div.site img:hover {
    cursor: pointer;
}

div#map div.site,
div#map div.room {
    cursor: -webkit-zoom-in;
}

div.node {
    border: medium red solid;
    background-color: rgba(219, 135, 128, 0.8);
    border-radius: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

div#map div.node {
    cursor: help;
    text-align: center;
}

div#map img.link {
    width: 20px;
    text-align: center;
}

div#map div.upper {
    cursor: none;
    opacity: 0.6;
    border: thin red dashed;
    z-index: -1;
}

div#map div.under {
    cursor: none;
    opacity: 0.8;
    border: thin red solid;
    z-index: -2;
}

.zoom {
    margin: 10px 0;
    font-size: 0.9em;
}

.controls {
    margin: 10px 0;
}

div#map div.current {
    font-weight: bold;
}

div.tag {
    background: url("../images/pin_red.png") no-repeat no-repeat;
    padding-left: 23px;
    min-height: 30px;
    color: #000;
    white-space: nowrap;
    font-size: .9em;
    vertical-align: middle;
}

div.description {
    font-style: italic;
    margin: 10px 0;
}

div#map div.description {
    /*position: absolute;
    top: 5px;
    left: 5px;*/
}

div.description span.name {
    font-weight: bold;
    color: #105cb6;
}

div#action-zone {
    width: 280px;
    height: 500px;
    margin: 0 0 0 505px;
    border: thin green solid;
    border-radius: 4px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
}

div#action-zone div.action {
    /*border: thin green solid;
    padding-top: 15px;
    padding-bottom: 15px;*/
    height: 33%;
}

div#action-zone div.nodes {
    border-top: thin green dashed;
    border-bottom: thin green dashed;
}

div#action-zone .element {
    margin: 5px;
}

div#action-zone .set {
    opacity: 0.4;
}

div#action-zone .unset {
    cursor: move;
}

div#viewport {
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    cursor: pointer;
    border: 1px dotted darkred;
}

.draggable,
[draggable=true] {
    /* not applied by the directive, but useful to indicate a draggable element */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    /*border: 1px solid black;*/
}

.dragOver {
    background-color: darkgray !important;
}