<div class="rcmapcontrol">
    <div class=" controls">
        <button id="goUp" ng-click="goUp()" title="Go on upper level if exist">up</button>
        <button id="zoomIn" ng-click="zoomIn()" title="Zoom in the map">+</button>
        <button id="zoomOut" ng-click="zoomOut()" title="Zoom out the map">-</button>
        Search: <input ng-model="search">
    </div>
    <div class="description"><span class="name">{{level.name}}</span> : {{level.moduleNbrs}} modules this level, {{level.total}} total</div>
</div>