<div class="rcmap">
    <rc-map-control></rc-map-control>
    <div id="map" class="map">
        <div class="viewport" id="viewport" rc-movable rc-droppable data-min-x="9" data-min-y="143" data-max-x="509" data-max-y="643">
        </div>
    </div>
    <rc-map-action-zone></rc-map-action-zone>
</div>