<div class="rcmapactionzone">
    <div id="action-zone">
        <div class="action levels">
        </div>
        <div class="action nodes">
        </div>
        <div class="action tags">
        </div>
    </div>
</div>